﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>

    <!--Background Colour-->
    <div class="skewed-bg">
        <div class="content">
            <!--Main Content-->
            <div class="container">
                @RenderBody()
            </div>

        </div>
    </div>

    <!-- Modal Portfolio One-->
    <div class="modal fade" data-backdrop="static" id="popup-modal-one" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="" style="color: #222">Dark Skies Blog</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="font-size: 30pt">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">

                    <!-- Card description-->
                    <div class="card portfolio-modal-cards">

                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-5 portfolio-text-desc">

                                    <p>
                                        This was my first project, a blog built using Python and Django web framework overlay on MVC pattern. 
                                        Each post was stored and retrieved from the MySql database. The built-in functionality of the admin 
                                        section allowed easy modification for CRUD operations.
                                    </p>
                                    <p>
                                        There is also full functionality for searching, paging and categorisation of posts. Posts also included 
                                        integrated comments that tracked the unique URL for each post which called the async API for loading.
                                    </p>
                                    <p>
                                        I also built a contact form that would allow an email to be sent using the Django framework. This allowed 
                                        for full error handling, redirecting and displaying the correct response page.
                                    </p>
                                    <p>
                                        This was a really good introduction to web development, meshing together multiple languages and platforms
                                        utilising what I’d already learnt prior with Python.
                                    </p>

                                    <p>
                                        Technology stack
                                    </p>
                                    <p>
                                        <ul>
                                            <li>Python</li>
                                            <li>Django</li>
                                            <li>MySql</li>
                                            <li>Javascript</li>
                                            <li>Jquery</li>
                                            <li>HTML</li>
                                            <li>W3CSS</li>
                                        </ul>
                                    </p>

                                </div>
                                <div class="col-md-7">

                                    <!-- Carousel-->
                                    <div id="carousel-portfolio-one" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="https://i.ibb.co/NV15czW/ds-main.jpg" class="d-block w-100 carousel-image-align" alt="Dark Skies Blog Main">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://i.ibb.co/L9XTC9G/ds-blog-post.jpg" class="d-block w-100 carousel-image-align" alt="Dark Skies Blog Post">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://i.ibb.co/FsRGkjZ/ds-categories.jpg" class="d-block w-100 carousel-image-align" alt="Dark Skies Blog Categories">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://i.ibb.co/1TC261r/ds-blog-search.jpg" class="d-block w-100 carousel-image-align" alt="Dark Skies Blog Search">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://i.ibb.co/qCPvM1H/ds-blog-contact.jpg" class="d-block w-100 carousel-image-align" alt="Dark Skies Blog Contact">
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carousel-portfolio-one" role="button" data-slide="prev">
                                            <span class="" aria-hidden="true"><i class="fas fa-angle-left prev-icon"></i></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carousel-portfolio-one" role="button" data-slide="next">
                                            <span class="" aria-hidden="true"><i class="fas fa-angle-right next-icon"></i></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal Portfolio Two-->
    <div class="modal fade" data-backdrop="static" id="popup-modal-two" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="" style="color: #222">Slice Finance App</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="font-size: 30pt">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">

                    <!-- Card description-->
                    <div class="card portfolio-modal-cards">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-5 portfolio-text-desc">

                                    <p>
                                        After Python, I decided it was time to jump into C# and the .NET environment. This was the perfect time to work on an 
                                        idea that Id had for quite a while. I wanted to convert and enhance my financial spreadsheets, which had gained 
                                        in size and complexity over the years.
                                    </p>
                                    <p>
                                        This app is still in development, and a testing ground for new ideas, but I’ve built some of the core functionality. 
                                        I’ve taken the core requirements from my spreadsheet and have visualised them in a more succinct UI. It’s built on the 
                                        Bootstrap framework, with JQuery and AJAX calls running the functionality on the front end, whilst C# takes
                                        care of the back end calculations.
                                    </p>
                                    <p>
                                        Utilising the chart.JS library, i was able to visualise the data response from the AJAX calls dynamically. 
                                        This allows for user input to be reflected instantly on the DOM and in the chart.
                                    </p>
                                    <p>
                                        This app helped me to develop my skills working with dynamic data and building more interactive websites. 
                                        It also allowed me to refine core skills in each language.
                                    </p>

                                    <br />
                                    <p>
                                        Technology stack
                                    </p>
                                    <p>
                                        <ul>
                                            <li>C#</li>
                                            <li>.NET MVC</li>
                                            <li>Entity Framework</li>
                                            <li>Sql Server</li>
                                            <li>Javascript</li>
                                            <li>Jquery</li>
                                            <li>HTML5</li>
                                            <li>CSS3</li>
                                            <li>Bootstrap</li>
                                        </ul>
                                    </p>

                                </div>
                                <div class="col-md-7">

                                    <!-- Carousel-->
                                    <div id="carousel-portfolio-two" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="https://i.ibb.co/t4FSD2k/slice-budget-main.jpg" class="d-block w-100 carousel-image-align" alt="Slice Budget Main">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://i.ibb.co/1vvS5Sr/slice-budget-add-fields.jpg" class="d-block w-100 carousel-image-align" alt="Slice Budget Additional Fields">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://i.ibb.co/z8hXJf1/slice-budget-added.jpg" class="d-block w-100 carousel-image-align" alt="Slice Budget Salary Calc">
                                            </div>
                                            @*<div class="carousel-item">
                                                <img src="https://i.ibb.co/37TGtFh/slice-budget-breakdown.jpg" class="d-block w-100 carousel-image-align" alt="Slice Budget Month">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://i.ibb.co/YZ9k9dF/slice-budget-analysis.jpg" class="d-block w-100 carousel-image-align" alt="Slice Budget Spending Analysis">
                                            </div>*@
                                        </div>
                                        <a class="carousel-control-prev" href="#carousel-portfolio-two" role="button" data-slide="prev">
                                            <span class="" aria-hidden="true"><i class="fas fa-angle-left prev-icon"></i></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carousel-portfolio-two" role="button" data-slide="next">
                                            <span class="" aria-hidden="true"><i class="fas fa-angle-right next-icon"></i></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Portfolio Three-->
    <div class="modal fade" data-backdrop="static" id="popup-modal-three" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="" style="color: #222">Wedding App</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="font-size: 30pt">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">

                    <!-- Card description-->
                    <div class="card portfolio-modal-cards">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-5 portfolio-text-desc-wedding">

                                    <p>
                                        This is the most recent .NET web app and solution I’ve implemented, which also happens to be my own wedding app! 
                                        It incorporates further enhancements as I’ve gained a deeper knowledge and understanding of each language or framework.
                                    </p>
                                    <p>
                                        I wanted this app to be as responsive and refreshless as possible. I managed to achieve this by building the 
                                        HTML directly within JQuery, which altered the DOM. This allowed a fluid transition between each section.
                                    </p>
                                    <p>
                                        The responsive nature continues throughout, utilising Entity Framework that pulls data from the database via 
                                        AJAX calls which render dynamically. Further async calls allow for the Google Maps API to render the map 
                                        and location pins. Deeper functionality allows filtering of the visualised data.
                                    </p>
                                    <p>
                                        Time was also spent ensuring that this app was completely mobile-friendly and responsive, utilising Bootstraps 
                                        media to write custom CSS for each device viewport size. Further HTML was written specifically for 
                                        smaller devices to create a new nav display.
                                    </p>
                                    <p>
                                        I spent quite a lot of time working on how this app would function across multiple platforms, learning 
                                        and writing more in-depth CSS and then handling all of the nuances of hosting on Azure.
                                    </p>
                                    <br />
                                    <p>
                                        Technology stack
                                    </p>
                                    <p>
                                        <ul>
                                            <li>C#</li>
                                            <li>.NET MVC</li>
                                            <li>Entity Framework</li>
                                            <li>Sql Server</li>
                                            <li>Javascript</li>
                                            <li>Jquery</li>
                                            <li>HTML5</li>
                                            <li>CSS3</li>
                                            <li>Bootstrap</li>
                                        </ul>
                                    </p>

                                </div>
                                <div class="col-md-7">

                                    <!-- Carousel-->
                                    <div id="carousel-portfolio-three" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner-wedding">
                                            <div class="carousel-item active">
                                                <img src="https://i.ibb.co/drWkK4c/wedding-main-new.png" class="d-block w-100" alt="Wedding Main">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://i.ibb.co/fHvm7rH/wedding-accomodation-new.png" class="d-block w-100" alt="Wedding Accomodation">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://i.ibb.co/NFm3z9Z/wedding-travel-new.png" class="d-block w-100" alt="Wedding Travel">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://i.ibb.co/C8jCmyR/wedding-main-mobile-new.png" class="d-block w-100" alt="Wedding Travel">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="https://i.ibb.co/n02yv5C/wedding-main-accomodation-new.png" class="d-block w-100" alt="Wedding Travel">
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carousel-portfolio-three" role="button" data-slide="prev">
                                            <span class="" aria-hidden="true"><i class="fas fa-angle-left prev-icon"></i></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carousel-portfolio-three" role="button" data-slide="next">
                                            <span class="" aria-hidden="true"><i class="fas fa-angle-right next-icon"></i></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Profile-->
    <div class="modal fade" data-backdrop="static" id="popup-modal-profile" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="" style="color: #222">Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="font-size: 30pt">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <iframe src="@Url.Action("ProfilePage", "Profile")" width="100%" height="850px" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
