﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- css stylesheet and js links -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
</head>

<body class="w3-light-gray">

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1200px;">

        <!--Grid Start -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-third">
                <div class="w3-card w3-blue w3-padding w3-margin-bottom">
                    <div class="w3-display-container w3-image w3-center w3-padding-32">

                        <p><i class="fa fa-user-circle-o fa-5x w3-margin-right w3-text-white w3-mobile"></i></p>

                    </div>
                    <h1>Matt Cheetham</h1>

                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-white"></i>Software Developer</p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-white"></i>Emersons Green, Bristol, BS16</p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-white"></i>matt.cheetham@live.co.uk</p>
                    <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-white"></i>07534350457</p>
                    <hr>

                    <p class="w3-large"><b><i class="fa fa-address-card w3-margin-right w3-text-white"></i>Biography</b></p>
                    <p>A dedicated and progressive individual who continually seeks a personal challenge.</p>
                    <p>Someone who has built a solid grounding in software development, has good eye for detail and is consistently self-driven to achieve goals.</p>
                    <p>Organised, evaluative and logical developer who loves discovering new ways to build beautifully interactive solutions.</p>

                    <hr>

                    <p class="w3-large"><b><i class="fa fa-empire w3-margin-right w3-text-white"></i>Social</b></p>
                    <div class="w3-container">
                        <p><a class="" href="https://www.linkedin.com/in/mgcheetham" target="_blank"><i class="fa fa-linkedin-square w3-margin-right w3-large w3-text-white"></i>LinkedIn</a></p>
                        <p><a class="" href="https://stackoverflow.com/users/7980936/matt-cheetham" target="_blank"><i class="fa fa-stack-overflow w3-margin-right w3-large w3-text-white"></i>Stack Overflow</a></p>
                        <p><a class="" href="https://gitlab.com/mgcheetham" target="_blank"><i class="fa fa-gitlab w3-margin-right w3-large w3-text-white"></i>GitLab</a></p>
                        <p><a class="" href="https://www.codewars.com/users/cheets" target="_blank"><img class="w3-margin-right" src="~/Images/codewars.svg" alt="codewars icon" style="width: 18px; height: 18px; fill: white">Codewars</a></p>
                        <p><a class="" href="https://www.meetup.com/members/255547172/" target="_blank"><i class="fa fa-meetup w3-margin-right w3-large w3-text-white"></i>Meetup</a></p>
                    </div>
                    <!-- end of card -->
                </div>

                <div class="w3-card w3-blue w3-padding w3-margin-bottom">
                    <p class="w3-large"><b><i class="fa fa-clock-o w3-margin-right w3-text-white"></i>Future Goals</b></p>
                    <div class="w3-container">
                        <p>June 2021 - TT284 Web Technologies / TM257 Networking</p>
                        <p>Open University</p>
                        <hr>
                        <p>Dec 2021 - Angular / React & .NET Core</p>
                        <p>Self-educating</p>
                        <hr>
                        <p>Oct 2024 - BSc Computer Science degree</p>
                        <p>Open University (Part Time)</p>
                    </div>
                </div>

                <!-- start of card -->
                <div class="w3-card w3-blue w3-padding w3-margin-bottom">
                    <p class="w3-large"><b><i class="fa fa-gamepad w3-margin-right w3-text-white"></i>Personal Pursuits</b></p>
                    <div class="w3-container">
                        <p>Snowboarding</p>
                        <p>Gaming</p>
                        <p>Astro photography</p>
                        <p>Mountain Biking</p>
                        <p>Popular Science</p>
                        <p>Podcasts</p>
                        <p>Blockchain</p>
                        <p>Guitar</p>
                    </div>

                    <!-- end of card -->
                </div>

                <!-- end of left column -->
            </div>

            <!-- Middle Column -->
            <div class="w3-third">
                <div class="w3-card w3-white w3-padding w3-margin-bottom">

                    <h2 class="w3-text-black w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Career</h2>
                    <div class="w3-container">
                        <h5 class="w3-text-black"><b>Software Developer</b></h5>
                        <h6 class="w3-text-black"><b>WDM, Bristol</b></h6>
                        <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Nov 2018 - <span class="w3-tag w3-blue">Current</span></h6>
                        <ul class="w3-ul w3-small">
                            <li>Main projects have spanned designing, planning, implementing, and testing multiple scalable web apps using Javascript, JQuery, AJAX, JSON, .NET MVC, EF and LINQ technologies. Also designed and built micro service apps in C# and most recently worked on smaller apps in .NET Core, all of which utilised both internal and external APIs.</li>
                            <li>Write and maintain release documentation, software wiki updates and general information. Create, track, and maintain bugs through GitLab issues whilst keeping code versioned  and manage multiple branches where required.</li>
                            <li>Write bespoke SQL, T-SQL parameterised queries, manage and create tables for databases to assist new functionality of software, process and maintain datasets to connected applications.</li>
                            <li>Successfully collaborate within multi-functional teams, gathering information, providing feedback, finding solutions to existing software and designing new software specifications, mostly using waterfall methodologies. Manage own workflow, handle varied requests, assist with technical queries, and debug applications alongside main project work cycle.</li>
                        </ul>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-text-black"><b>IT Engineer</b></h5>
                        <h6 class="w3-text-black"><b>Aviva, York & Bristol</b></h6>
                        <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2014 - 2018</h6>
                        <ul class="w3-ul w3-small">
                            <li>Played an integral role in building, installing, configuring and testing over 900 desktops and laptops during the migration from Friends Life to Aviva.</li>
                            <li>Supported ~1000 users on multiple devices including desktops, laptops, mobiles and tablets. Covered all aspects from account lockouts to complete re-builds of machines. Always multi-tasked and worked to user deadlines and company targets.</li>
                            <li>Received recognition from all levels of the business for pioneering the Service Bar in Bristol. Drove the transition from Friends Life to Aviva, integrated and collaborated with Diligenta to build a homogeneous service.</li>
                        </ul>
                        <hr>
                    </div>
                    @*<div class="w3-container">
                        <h5 class="w3-text-black"><b>Trainee Manager</b></h5>
                        <h6 class="w3-text-black"><b>CPP, York</b></h6>
                        <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2012 - Jan 2014</h6>
                        <ul class="w3-ul w3-small">
                        </ul>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-text-black"><b>Interim Manger</b></h5>
                        <h6 class="w3-text-black"><b>Billabong, Manchester</b></h6>
                        <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2009 - May 2011</h6>
                        <ul class="w3-ul w3-small">

                        </ul>
                        <hr>
                    </div>*@

                    <!-- end of card -->
                </div>

                <div class="w3-card w3-white w3-padding w3-margin-bottom">

                    <h2 class="w3-text-black w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Academic</h2>

                    <!-- Start of Academic details -->
                    <div class="w3-container">
                        <h5 class="w3-text-black"><b>Open University</b></h5>
                        <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sept 2018 - <span class="w3-tag w3-blue">Current</span></h6>
                        <h6 class="w3-text-blue"><i class="fa fa-certificate w3-margin-right"></i>BSc Computer Science</h6>
                        <hr>
                    </div>

                    <div class="w3-container">
                        <h5 class="w3-text-black"><b>Grange Community School</b></h5>
                        <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sept 2002 - Jun 2004</h6>
                        <h6 class="w3-text-blue"><i class="fa fa-certificate w3-margin-right"></i>A - Levels</h6>
                        <table class="w3-table w3-bordered">
                            <tr>
                            </tr>
                            <tr>
                                <td>Business - C</td>
                                <td>Media - D</td>
                            </tr>
                            <tr>
                                <td>Computing - C</td>
                            </tr>
                        </table>
                        <br/>
                    </div>

                    <div class="w3-container">
                        <h5 class="w3-text-black"><b>Grange Community School</b></h5>
                        <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sept 1997 - Jun 2004</h6>
                        <h6 class="w3-text-blue"><i class="fa fa-certificate w3-margin-right"></i>GCSE</h6>
                        <table class="w3-table w3-bordered">
                            <tr>
                            </tr>
                            <tr>
                                <td>Maths - D</td>
                                <td>English - C</td>
                            </tr>
                            <tr>
                                <td>Science - C</td>
                                <td>Business - C</td>
                            </tr>
                            <tr>
                                <td>Graphic Design - C</td>
                                <td>French - C</td>
                            </tr>
                            <tr>
                                <td>History - D</td>
                            </tr>
                        </table>
                    </div>

                </div>
                <!-- end of middle column -->
            </div>

            <!-- Right Column -->
            <div class="w3-third">
                <div class="w3-card w3-blue w3-padding w3-margin-bottom">
                    <p class="w3-large"><b><i class="fa fa-code w3-margin-right w3-text-white"></i>Technical Skills</b></p>
                    <p>A brief overview of proficiency within the following technologies.</p>
                    <p>C#</p>
                    <div class="w3-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-white w3-text-blue w3-animate-opacity" style="width:85%">85%</div>
                    </div>
                    <p>.NET</p>
                    <div class="w3-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-white w3-text-blue w3-animate-opacity" style="width:85%">85%</div>
                    </div>
                    <p>.NET Core</p>
                    <div class="w3-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-white w3-text-blue w3-animate-opacity" style="width:65%">65%</div>
                    </div>
                    <p>JavaScript ES6+</p>
                    <div class="w3-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-white w3-text-blue w3-animate-opacity" style="width:80%">80%</div>
                    </div>
                    <p>Angular 8</p>
                    <div class="w3-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-white w3-text-blue w3-animate-opacity" style="width:65%">65%</div>
                    </div>
                    <p>HTML5</p>
                    <div class="w3-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-white w3-text-blue w3-animate-opacity" style="width:85%">85%</div>
                    </div>
                    <p>CSS3</p>
                    <div class="w3-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-white w3-text-blue w3-animate-opacity" style="width:85%">85%</div>
                    </div>
                    <p>Bootstrap 3+</p>
                    <div class="w3-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-white w3-text-blue w3-animate-opacity" style="width:80%">80%</div>
                    </div>
                    <p>Python v2/3</p>
                    <div class="w3-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-white w3-text-blue w3-animate-opacity" style="width:70%">70%</div>
                    </div>
                    <p>SQL Server</p>
                    <div class="w3-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-white w3-text-blue w3-animate-opacity" style="width:80%">80%</div>
                    </div>
                    <p></p>
                    <!-- end of card -->
                </div>
                <!-- start of card -->
                <div class="w3-card w3-blue w3-padding w3-margin-bottom">
                    <p class="w3-large"><b><i class="fa fa-star w3-margin-right w3-text-white"></i>Core Strengths</b></p>
                    <div class="w3-container">
                        <p><i class="fa fa-laptop w3-margin-right w3-large w3-text-white"></i>IT Experience</p>
                        <p><i class="fa fa-list-alt w3-margin-right w3-large w3-text-white"></i>Analytical</p>
                        <p><i class="fa fa-cogs w3-margin-right w3-large w3-text-white"></i>Critical Thinker</p>
                        <p><i class="fa fa-hand-spock-o w3-margin-right w3-large w3-text-white"></i>Engagement</p>
                        <p><i class="fa fa-search w3-margin-right w3-large w3-text-white"></i>Meticulous</p>
                        <p><i class="fa fa-paint-brush w3-margin-right w3-large w3-text-white"></i>Creative</p>
                        <p><i class="fa fa-sliders w3-margin-right w3-large w3-text-white"></i>Adaptable</p>
                    </div>
                    <!-- end of card -->
                </div>

                <!-- start of card -->
                <div class="w3-card w3-blue w3-padding w3-margin-bottom">
                    <p class="w3-large"><b><i class="fa fa-trophy w3-margin-right w3-text-white"></i>Achievements</b></p>
                    <div class="w3-container">
                        <h6 class="w3-text-white"><b>Python Course</b></h6>
                        <h6 class="w3-text-white"><i class="fa fa-certificate w3-margin-right"></i>Coursera</h6>
                        <p><a class="w3-ul" href="https://www.coursera.org/account/accomplishments/certificate/HPV2533XB9H3" target="_blank">Programming For Everybody</a></p>
                        <p><a class="w3-ul" href="https://www.coursera.org/account/accomplishments/certificate/QSVR8X7WP3KD" target="_blank">Python Data Structures</a></p>
                        <p><a class="w3-ul" href="https://www.coursera.org/account/accomplishments/certificate/MNKLU74WNZYK" target="_blank">Python Accessing Web Data</a></p>
                        <hr>
                        <h6 class="w3-text-white"><b>PHP Course</b></h6>
                        <h6 class="w3-text-white"><i class="fa fa-certificate w3-margin-right"></i>Coursera</h6>
                        <p><a class="w3-ul" href="https://www.coursera.org/account/accomplishments/certificate/TM8ZFTDBT2BR" target="_blank">Building Web Applications</a></p>
                        <hr />
                        <h6 class="w3-text-white"><b>Websites</b></h6>
                        <h6 class="w3-text-white"><i class="fa fa-certificate w3-margin-right"></i>Personal Projects</h6>
                        <p><a class="w3-ul" style="text-decoration: none;">Dark Skies Blog</a></p>
                        <p><a class="w3-ul" style="text-decoration: none;">Slice Budget App</a></p>
                        <p><a class="w3-ul" style="text-decoration: none;">Wedding App</a></p>
                    </div>
                    <!-- end of card -->
                </div>

                <!-- start of card -->
                <div class="w3-card w3-blue w3-padding w3-margin-bottom">
                    <p class="w3-large"><b><i class="fa fa-users w3-margin-right w3-text-white"></i>References</b></p>
                    <div class="w3-container">
                        References are available on request.
                        <p></p>
                    </div>
                    <!-- end of card -->
                </div>

                <!-- end of right column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>
</body>
</html>
