﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container text-center">
    <div class="row">
        <div class="col-md-12">
            <h1>Matt Cheetham</h1>
            <h3>Full Stack Software Developer</h3>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-md-12 mb-sm-3">
            <!-- Profile popup modal -->
            <div class="btn popup-btn-group" data-toggle="modal" data-target="#popup-modal-profile">
                Profile
            </div>
            <!-- Hidden download anchor -->
            <a download="matt_cheetham_profile.pdf" href="~/Profile/matt_cheetham_profile.pdf" id="download-anchor" style="display: none;"></a>
            <i id="download-cv" class="fas fa-download" data-toggle="tooltip" data-placement="bottom" title="Download Profile"></i>
            <!-- Download spinner -->
            <div id="download-spinner" class="spinner-border spinner-border-sm" role="status" style="visibility: hidden">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <h5>Portfolio</h5>
        </div>
    </div>
    <div class="row mt-4">
        <!-- Portfolio popup modals -->
        <div class="col-md-4">
            <div class="btn" data-toggle="modal" data-target="#popup-modal-one">
                <img src="https://i.ibb.co/kQKqDfH/dsblog.jpg" alt="Blog Site" id="show-modal-one" class="img-thumbnail mx-auto">
            </div>
        </div>
        <div class="col-md-4">
            <div class="btn" data-toggle="modal" data-target="#popup-modal-two">
                <img src="https://i.ibb.co/qN8M0Rn/slice.jpg" alt="Budget Site" id="show-modal-two" class="img-thumbnail mx-auto">
            </div>
        </div>
        <div class="col-md-4">
            <div class="btn" data-toggle="modal" data-target="#popup-modal-three">
                <img src="https://i.ibb.co/r7FcC8D/wedding.jpg" alt="Wedding Site" id="show-modal-three" class="img-thumbnail mx-auto">
            </div>
        </div>
    </div>
</div>
