﻿/* Support for older devices */
@media (max-width: 320.98px) {
    body {
    }

    .content {
        padding-top: 30px;
    }

    h1 {
        font-size: 30pt;
    }

    h2 {
        font-size: 20pt;
    }

    h3 {
        font-size: 10pt;
    }

    .popup-btn-group {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
