﻿/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        
    }

    .content {
        padding-top: 50px;
    }

    h1 {
        font-size: 60pt;
    }

    h2 {
        font-size: 40pt;
    }

    h3 {
        font-size: 20pt;
    }
}
