﻿/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 451px) and (max-width: 575.98px) {
    body {
        
    }

    .content {
        padding-top: 40px;
    }

    h1 {
        font-size: 50pt;
    }

    h2 {
        font-size: 40pt;
    }

    h3 {
        font-size: 20pt;
    }

    .popup-btn-group {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
