﻿/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
    }

    .content {
        padding-top: 70px;
    }

    h1 {
        font-size: 60pt;
    }

    h2 {
        font-size: 40pt;
    }

    h3 {
        font-size: 20pt;
    }

    .img-thumbnail {
        height: 140px;
        width: 254.4px;
    }
}
