﻿/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
    }

    .content {
        padding-top: 80px;
    }

    h1 {
        font-size: 60pt;
    }

    h2 {
        font-size: 40pt;
    }

    h3 {
        font-size: 20pt;
    }
    
    .img-thumbnail {
        height: 195px;
        width: 254.4px;
    }
}
