﻿/* Extra Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
    }

    .content {
        padding-top: 100px;
    }

    h1 {
        font-size: 60pt;
    }

    h2 {
        font-size: 40pt;
    }

    h3 {
        font-size: 20pt;
    }
}