﻿/*Background design*/
@-webkit-keyframes colorSwapper {
    0% {
        background-color: #955fad;
        background-image: -webkit-linear-gradient(#955fad, #da5b45);
        background-image: linear-gradient(#955fad, #da5b45);
    }

    50% {
        background-color: #da5b45;
        background-image: -webkit-linear-gradient(#da5b45, #955fad);
        background-image: linear-gradient(#da5b45, #955fad);
    }

    100% {
        background-color: #955fad;
        background-image: -webkit-linear-gradient(#955fad, #da5b45);
        background-image: linear-gradient(#955fad, #da5b45);
    }
}

@-moz-keyframes colorSwapper {
    0% {
        background-color: #955fad;
        background-image: -webkit-linear-gradient(#955fad, #da5b45);
        background-image: linear-gradient(#955fad, #da5b45);
    }

    50% {
        background-color: #da5b45;
        background-image: -webkit-linear-gradient(#da5b45, #955fad);
        background-image: linear-gradient(#da5b45, #955fad);
    }

    100% {
        background-color: #955fad;
        background-image: -webkit-linear-gradient(#955fad, #da5b45);
        background-image: linear-gradient(#955fad, #da5b45);
    }
}

@keyframes colorSwapper {
    0% {
        background-color: #955fad;
        background-image: -webkit-linear-gradient(#955fad, #da5b45);
        background-image: linear-gradient(#955fad, #da5b45);
    }

    50% {
        background-color: #da5b45;
        background-image: -webkit-linear-gradient(#da5b45, #955fad);
        background-image: linear-gradient(#da5b45, #955fad);
    }

    100% {
        background-color: #955fad;
        background-image: -webkit-linear-gradient(#955fad, #da5b45);
        background-image: linear-gradient(#955fad, #da5b45);
    }
}

@-webkit-keyframes solidColor {
    0% {
        background-color: #955fad;
    }

    50% {
        background-color: #da5b45;
    }

    100% {
        background-color: #955fad;
    }
}

@-moz-keyframes solidColor {
    0% {
        background-color: #955fad;
    }

    50% {
        background-color: #da5b45;
    }

    100% {
        background-color: #955fad;
    }
}

@keyframes solidColor {
    0% {
        background-color: #955fad;
    }

    50% {
        background-color: #da5b45;
    }

    100% {
        background-color: #955fad;
    }
}

/*Main site design*/
body {
    margin: 0;
    height: 100%;
    font-family: Jet-Brains-Bold;
    background: #222;
    color: white;
}

/*Background*/
.skewed-bg {
    background: #29aaf0;
    padding: 200px 0;
    -webkit-transform: skew(0deg, -10deg);
    -moz-transform: skew(0deg, -10deg);
    -ms-transform: skew(0deg, -10deg);
    -o-transform: skew(0deg, -10deg);
    transform: skew(0deg, -10deg);
    margin-top: -200px;
}

/*Background*/
.skewed-bg .content {
    -webkit-transform: skew(0deg, 10deg);
    -moz-transform: skew(0deg, 10deg);
    -ms-transform: skew(0deg, 10deg);
    -o-transform: skew(0deg, 10deg);
    transform: skew(0deg, 10deg);
}

/*Background*/
html {
    height: 100%;
}

h1 {
    font-size: 70pt;
}

h2 {
    font-size: 50pt;
}

h3 {
    font-size: 30pt;
}

h5 {
    font-size: 20pt;
}

/*General modal design*/
.popup-btn-group {
    border: 1pt solid white;
    text-decoration: none;
    color: white;
    padding: 5pt 5pt 5pt 5pt;
    border-radius: 0;
}

.popup-btn-group:hover {
    background-color: #222;
    color: white;
}

#download-cv {
    margin-left: 5px;
    vertical-align: middle;
    font-size: 20pt;
    cursor: pointer;
    color: white;
}

#download-cv:hover {
    color: #222;
}

.img-thumbnail {
    height: 195px;
    width: 254.4px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    font-size: 50pt !important;
    color: black !important;
    outline: black !important;
    filter: invert(100%);
}

.prev-icon, .next-icon {
    font-size: 50pt !important;
    color: black !important;
    outline: red;
    border: red;
}

.carousel-inner {
    max-height: 700px;
    overflow-y: auto;
}

.carousel-inner-wedding {
    max-height: 600px;
    overflow-y: auto;
}

.portfolio-modal-cards {
    color: black;
}

.portfolio-text-desc {
    max-height: 700px;
    overflow-y: auto;
}

.portfolio-text-desc-wedding {
    max-height: 600px;
    overflow-y: auto;
}

.gallery-btn-load {
    border: 1px solid #29aaf0;
    border-radius: 0;
    background-color: #29aaf0;
    color: white;
}

/* Adds a new font */
@font-face {
    font-family: Jet-Brains-Bold;
    src: url("/Fonts/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Bold.ttf");
}